<h1>Question: <%= @question.title %></h1>
<h2>Body: <%= @question.body %></h2>
<p><%= render "/comments/question_comments" %><p>
************************************************************************************
<br>
<h2>Answers: <%= @answers.count %></h2>

<% @answers.each do |answer| %>
  <% @answer = answer %>
  <%= render "/comments/answer_comments", locals: { question: @question, answer: @answer } %>
<% end %>








<%#= form_tag (@answer, url: question_answers_path) do |f| %>
<%#= form_for @answer, url: question_answers do |f| %>
<% if logged_in? %>
  <h3>Your answer</h3>
  <%= form_for @new_answer, url: "/questions/#{@question.id}/answers" do |f| %>
    <%= f.label :body %><br>
    <%= f.text_area :body %><br>
    <%= f.submit %><br>
  <% end %>
  <br>
  <br>

  <%= link_to 'Delete this Question!', question_path(@question), method: :delete %>
<% end %>
