<!DOCTYPE html>
<html>
<head>
  <title>StackUberflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Index", root_path %>
  <% if logged_in? %>
    <%= link_to "Logout", '/users/end' %> (Logged in as <%= User.find(session[:user_id]).username %>)
  <% else %>
    <%= link_to "Login/Signup", '/users/new' %>
  <% end %>


<%= yield %>

</body>
</html>
